*{ /* apply styles to all html elements */
  padding: 0;
  margin: 0;
}


#game {
  background-color: lightblue;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

#block {
  background-color: lightgreen;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  /* applies the "block" animation, speed:2s,infinite=loops,linear=smooth */
  animation: block 1s infinite linear;
}

#char {
  background-color: lightcoral;
  width: 60px;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.jump {
  animation: jump 500ms;
}

@keyframes jump {
  0%{bottom: 0;}
  30%{bottom: 100px;}
  70%{bottom: 100px;}
  100%{bottom: 0px;}
}

@keyframes block {
  /* animation at 0%=start point(from) */
  /* animation at 100%=end point(to) */
  0%{right:0}
  100%{right: 100%}
}